page-add-festa {
    .horarioFesta h6{
  
        margin-bottom:-5px; 
        margin-top: 25px; 
     }
     .horarioFesta ion-col{  
       margin-top: 0px; 
     }
     .horarioFesta ion-label{  
       margin-top: 0px; 
     }
     
     .leoTrouxa h6{
     
       margin-bottom:0px; 
     }
     
     .leoTrouxa ion-label{
     
     margin-top: 0px; 
     
     } 
}
