<ion-header>

	<ion-navbar clear>
		<ion-title>Perfil</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="logout()">
				<ion-icon name="exit"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<form #f="ngForm" (ngSubmit)="salvar(f) ">

		<ion-list *ngFor="let c of Perfil | async">

			<div class="bg-img" (click)="abrirCamera()">
				<img *ngIf='imagem != undefined' [src]="imagem" alt="">
				<img *ngIf="imagem == undefined && c.imagem != undefined" [src]="c.imagem">
				<img *ngIf="imagem == undefined && c.imagem == undefined" src="https://openclipart.org/image/800px/svg_to_png/247319/abstract-user-flat-3.png">
			</div>

			<div insert>


				<ion-item>

					<ion-label floating>Nome</ion-label>
					<ion-input type="text" name="nome" [(ngModel)]="c.nome"></ion-input>

				</ion-item>
				<ion-item>
					<ion-label>Genero</ion-label>
					<ion-select name="genero" [(ngModel)]="c.genero">
						<ion-option value="Feminino">Feminino</ion-option>
						<ion-option value="Masculino">Masculino</ion-option>
						<ion-option value="Outro">Outros</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label floating>Conte mais sobre você</ion-label>
					<ion-textarea rows="4" type="text" name="sobre" [(ngModel)]="c.sobre"></ion-textarea>
				</ion-item>

			</div>
		</ion-list>
		<ion-grid>
			<ion-row>
				<ion-col></ion-col>
				<ion-col>
					<ion-buttons>
						<button ion-button outline>
							<ion-icon name="refresh"></ion-icon>&nbsp;&nbsp;Atualizar
						</button>
					</ion-buttons>
				</ion-col>
				<ion-col></ion-col>
			</ion-row>

		</ion-grid>

	</form>
</ion-content>