<ion-header>
	<ion-navbar clear>
		<ion-title>{{ detalheFesta.Titulo }}</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="perfil2()">
				<ion-icon name="contact"></ion-icon>
			</button>
			<button ion-button icon-only (click)="logout()">
				<ion-icon name="exit"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-fab top right>
		<button ion-button (click)="confirmar()">
			Confirmar presença
		</button>
	</ion-fab>
	<div class="bg-img">
		<img [src]="detalheFesta.imgCapa">
	</div>

	<div>
		<ion-segment [(ngModel)]="detalhes">
			<ion-segment-button value="sobre">
				Sobre
			</ion-segment-button>
			<ion-segment-button value="pessoas">
				Pessoas
			</ion-segment-button>
			<ion-segment-button value="comentarios">
				Comentarios
			</ion-segment-button>
		</ion-segment>
	</div>

	<div [ngSwitch]="detalhes">



		<ion-list *ngSwitchCase="'pessoas'">
			<ion-item>

				<ion-list>
					<ion-list-header>
						Comfirmaram presença no dia:
						<strong>{{dia}}</strong>
					</ion-list-header>

					<ion-item (click)="detalhePerfil(c.uid)" *ngFor="let c of listaConfirmados | async">
						<ion-avatar item-start>
							<img [src]="c.imagem" />
						</ion-avatar>
						<h2>{{c.nome}}</h2>
					</ion-item>
				</ion-list>

			</ion-item>
		</ion-list>

		<ion-list *ngSwitchCase="'sobre'">
			<ion-item *ngFor="let i of festa | async">
				<h5>
					<strong>Dias de Funcionamento:</strong> {{ i.DiasFuncionamento }}</h5>
				<h5>
					<strong>Horario de Funcionamento:</strong> das {{ i.HorarioInicio }} as {{ i.HorarioFim }}</h5>

				<h6>{{ i.Descricao }}</h6>

				<h5>
					<strong>Valor da Entrada: </strong> R$ {{ i.Valor }}
				</h5>

			</ion-item>
		</ion-list>

		<ion-list *ngSwitchCase="'comentarios'">
			<ion-item>
				<form #f="ngForm" (ngSubmit)="enviarComentario(f)">


					<ion-item>
						<ion-input name="Comentario" placeholder="Insira seu comentario" type="text" ngModel></ion-input>
					</ion-item>

					<ion-list inset>

						<ion-item>

							<ion-select placeholder="Classificação" name="Classificacao" ngModel>
								<ion-option value="Muito Bom">Muito Bom</ion-option>
								<ion-option value="Bom">Bom </ion-option>
								<ion-option value="Mediano">Mediano </ion-option>
								<ion-option value="Ruim">Ruim </ion-option>
							</ion-select>
						</ion-item>
					</ion-list>



					<ion-buttons>
						<button ion-button block>enviar</button>
					</ion-buttons>

				</form>
			</ion-item>


			<ion-list>

				<ion-item *ngFor="let c of Comentarios | async">
					<ion-avatar>
						<img [src]="c.imagem" />
					</ion-avatar>
					<h2>{{c.nome}}</h2>
					<h3>{{c.classificacao}}</h3>
					<p>"{{c.comentario}}"</p>
				</ion-item>
			</ion-list>
		</ion-list>

	</div>
</ion-content>