page-home {
    ion-avatar {
        height: 40px;
        width: 40px;
    }
    ion-avatar img {
        height: 100%!important;
        width: auto;
    }
    .imgCapa {
        height: auto!important;
        width: auto;
        min-width: 100%;
        max-height: 200px;
    }
}
