page-detalhes-perfil {


  .bg-img img{
    
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: top;
    
  }
  
  h2 { 
     position: relative;
     margin-top: -49px;
     left: 0; 
     width: 100%; 
  }
  
  
  
  h2 span { 
     color: white; 
     font: bold 24px/45px Helvetica, Sans-Serif; 
     letter-spacing: -1px;  
     background: rgb(0, 0, 0); /* fallback color */
     background: rgba(0, 0, 0, 0.7);
     padding: 10px; 
    opacity: 0.7;
  }
  
}
